<div class="page-error access-denied-error">
    <div class="page-error-content">
        <div class="page-error-message">
            Unfortunately you have no access to this Page <br>

        </div>
        <div class="page-error-description">
            If you believe that we are wrong about your role, <br> please
            discuss this with the <a
                href="mailto:Karthik_Patlolla@epam.com?subject=No Permissions To Website&body=Please provide me admin access to Website('https://localhost:4200') ">Admin</a>.
        </div>
    </div>
</div>
