.container {
    display        : block;
    margin-left    : auto;
    margin-right   : auto;
    margin-top     : 200px;
    /*margin-bottom:auto;*/
    width          : 40%;
}
.page-error {
    display        : -ms-flexbox;
    display        : flex;
    -ms-flex-pack  : center;
    justify-content: center;
    -ms-flex-align : center;
    align-items    : center;
    background-size: cover;
}

.access-denied-error {
    /*background: url(images/no-permissions.png);*/
    /* background-image: url('../../Content/Images/no-permissions (1).png'); */
    /*background-image: url('../../Content/Images/simple-technology-wallpaper.jpg');*/
}
.page-error-content {
    text-align: center;
    margin-top: -10%;
}

.page-error-message {
    font-size    : 33px;
    margin-bottom: 20px;
    padding-top: 25%;
    padding-bottom: 25%;
}
.page-error-status,
.page-error-message {
    color         : #1a9cb0;
    font-family   : 'Oswald Regular', Tahoma, sans-serif;
    text-transform: uppercase;
}