<div class="no-pad" *ngIf="currentUser">
    <div class="uui-person-vertical-profile dark-blue ">
        <div class="person-profile-body">
            <div class="person-profile-section">
                <div class="person-profile-info">
                    <h2>{{currentUser.username}}</h2>
                </div>
                <div class="person-profile-photo">
                    <img src="https://static.cdn.epam.com/avatar/a5e7f5c133119a490be56ce6f43d8a93.jpg" alt="">
                </div>
            </div>
        </div>
        <div class="person-profile-footer border-none">
            <div class="person-profile-section">
                <h5>
                    {{currentUser.role}}
                </h5>
                <p class="medium-gray"> APAC, India, Hyderabad, Salarpuria Sattva Knowledge City, Plot No-2, Phase-1,
                    Survey No.83/1, Raidurga Village, Serilingampally Mandal, 10th floor, F</p>
                    <p class="medium-gray"></p>
               
            </div>
        </div>
    </div>
</div>